@font-face {
    font-family: 'Karla-Bold';
    src: url('../tipografia/Karla-Bold.ttf');
}

@font-face {
    font-family: 'Karla-ExtraBold';
    src: url('../tipografia/Karla-ExtraBold.ttf');
}

@font-face {
    font-family: 'Karla-Regular';
    src: url('../tipografia/Karla-Regular.ttf');
}
#texto-resaltado{
    color: #0D5A55!important;
    text-decoration: underline;
}

#texto-resaltado:hover{
    color: #043F45!important;
}

#qr{
    background-color: #0D5A55;
    text-align: center;
}
#qr h2{
    padding-top: 10px;
    color: #F7A528;
}
.descarga{
    border-radius: 10px;
    background-color: #0D5A55;
}
#producto, #pedido, #otra-ronda, #descarga{
    padding: 100px;
}

.fas {
    color: #F7A528;
}

.nav-link {
    color: #F7A528 !important;
    font-family: 'Karla-Bold', sans-serif;
}

.nav-link:hover {
    color: #d18b23 !important;
}

header {
    background: url(../img/img-presentacion-02.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    min-height: 80vh;
}

footer{
    background-color: #FFF8F2;
    min-height: 30vh;
}

header .navbar {
    background-color: transparent !important;
    box-shadow: none !important;
}

#color {
    background-color: #F7A52834;
}
#image {
    background: url(../img/descarga.png) no-repeat center;
    background-size: cover;
    overflow: hidden;
    min-height: 80vh;
}

h1{
    color: black;
}
h2{
    color: #043F45;
}

h1 img{
    margin-bottom: 15px;
    padding-right: 5px;
}

h1, h2 {
    font-family: 'Karla-ExtraBold', sans-serif;
}   
strong{
    color: #F7A528;
}

p{
    font-family: 'Karla-Regular', sans-serif;
    font-size: 20px;
}

#centrado{
    text-align: center;
}

#parrafo1{
    margin-top: 50px;
}

footer a {
    padding: 0 0 0.5rem 0!important;
}
b,h4{
    color:#0D5A55;
}
#boton{
    background-color: #d18b23;
    color: white;
}