/* Sticky footer styles
-------------------------------------------------- */
@font-face {
    font-family: 'Karla-Bold';
    src: url('../tipografia/Karla-Bold.ttf');
    }
.fondo{
    background-color: #971515;
}
html{
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Karla-Bold', sans-serif;
    margin-bottom: 60px;
    overflow-x: hidden;  
}

#label-login{
    vertical-align: middle;
}

.label {
    background-color: #971515;
    margin-left: 0px;
    margin-right: 0px;
}

.text-muted {
    color: #000000 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #F1A02D;
}


/* H1, H2, H3, H4, H5, H6 */

h1{
    font-family: 'Karla-Bold', sans-serif; 
    color: #004F57;  
}

h2 {
    margin: 50px 0;
}

h6 {
    color: #F7E5D7;
}

#HoraActual{
    color: black;
}

/* ----------------------------- */

/* Drag and drop */

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
  }
  
  .file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    
  }

  .file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    transition: 0.2s;
   
  }
  
  .mt-100{
      margin-top:100px;
  }

/* TABLA */

.fila-tabla {
    background-color: #F4E2D4;
    border-bottom: 2px solid #F3A114;
    border-radius: 50px;
}

.fila-tabla:hover {
    background-color: #e7c892;
    border-bottom: 2px solid #F4E2D4;
}

.thead {
    color: #ffffff;
    background-color: #EA710A !important;

}
thead th:first-child {
   border-radius: 5px 0 0 5px;
}
thead th:last-child {
  border-radius: 0 5px 5px 0;
}
tr th{
    padding: 20px!important;
    text-align: center;
}
td{
    text-align: center;
    font-size: 20px;
}
.table td, .table th {
    vertical-align: inherit!important;
}

/* ------- */

/* IMAGENES */

.logo-blanco {
    width: 10%;
    margin-right: 20%;
}

#img_cerrarSesion{
    padding-right: 2px;
    text-align: center;
}

#img_lupa{
    padding: 20%;
}

.tapa {
    position: absolute;
    z-index: 3;
    right: -60px;
    top: -17%;
    height: 70%;
}

.bandeja { 
    position: absolute;
    transform: translate(250%, 95%);
    width: 320px;
    height: 200px;
}

.cuadrado {
    margin-top: 7%;
    width: 260px;
}

.logo {
    margin-left: 10%;
}

/* ---------------- */

/* CARD */

.card-carta{
    border-radius: 10px!important;
}
.card-header-carta{
    border-radius: 10px!important;
    padding: 5%;
    color: white;
}

.card-footer-carta{
    padding: 0px!important;
    border-radius: 10px!important;
}

.card-body{
    background-color: #F7E5D7;
}
.card {
    border-radius: 50px;
    transform: translate(-50%, 60%);
}

.card-body-login {
    background-color: #EA710A;
    border-radius: 50px;
    width: 300px;
    height: 300px;
}

.card-body-dialog {
    background-color: #004F57;
    border-radius: 30px;
    width: 330px;
    height: 200px;
}

.card-body-carta {
    background-color: #F7E5D7;
    border-radius: 30px;
    width: 330px;
    height: 300px;
}

/* ------------- */

/* BOTONES */

.btn-primary {
    margin-right: 12px;
}

.btn-login{
    margin: auto;
}

#btn-entrar{
    padding: 18% 40% 18% 40%;
    margin-right: 20px;
}

#addProducto {
    background-color: #004F57;
    color: #FFFFFF;
    border: solid 0px !important;
    padding: 14px;
    border-radius: 10px;
}

#addProducto:hover {
    background-color: #006B67;
    color: #FFFFFF;
}

#btn_completado{
    background-color: #EA710A;
    color: white;
}

#btn_completado:hover{
    background-color: #cc650a;
}

.btn-primary {
    background-color: #F8D097;
    color: #004F57;
    border: solid 0px !important;
    padding: 14px;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #f6c47e;
    color: #004F57;
    border-color: none;
    
}
#btn_cerrar{
    color: white;
}

.btn-primary-modificar {
    margin-left: 25%;
    margin-top: 5%;
}

.btn-primary-mesa {
    margin-bottom: 0;
    background-color: #004F57;
    color: #FFFFFF;
}

.btn-buscar{
    background-color: #006B67;
    padding-left: 20px;
    padding-right: 20px;  
}

.buscador{
    margin-left: 97px;
    padding:7px;
}

.btn-buscar:hover{
    background-color: #035c59;
}

#btn-aceptar-cerrarSesion-categorias, #btn-aceptar-cerrarSesion-listPrecios , #btn-aceptar-cerrarSesion-usuarios, #btn-aceptar-cerrarSesion-alergenos,#btn-aceptar-cerrarSesion-cartas{
background-color: #F8D097;
color: #006B67;
}

#btn-aceptar-cerrarSesion-categorias:hover, #btn-aceptar-cerrarSesion-listPrecios:hover, #btn-aceptar-cerrarSesion-usuarios:hover,#btn-aceptar-cerrarSesion-alergenos:hover,#btn-aceptar-cerrarSesion-cartas:hover{
    background-color: #F3C47F;
    
    }

#btn-cancelar-cerrarSesion-categorias,#btn-cancelar-cerrarSesion-listPrecios, #btn-cancelar-cerrarSesion-usuarios, #btn-cancelar-cerrarSesion-alergenos,#btn-cancelar-cerrarSesion-cartas{
    background-color: #FFF8F2;
    color: #006B67;
    }

#btn-cancelar-cerrarSesion-categorias:hover,#btn-cancelar-cerrarSesion-listPrecios:hover, #btn-cancelar-cerrarSesion_usuarios:hover, #btn-cancelar-cerrarSesion-alergenos:hover,#btn-cancelar-cerrarSesion-cartas:hover{
        background-color: #cfcecc;
}
.btn-hecho{
    background-color: #006B67;
    color: white;
    width: 100%;
    padding: 15px;
}

.btn-hecho:hover{
    background-color: #004F57;
    color: white;
}

.btn-hecho img{
    padding-right:5px ;
}

/* ------ */

/* FORMULARIOS */

.form-group-titulo {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-group-titulo-mesa {
    color: #FFFFFF;
    font-size: 20px;
    background-color: #004F57 !important;
    margin-left: 20px;
    width: 300px;
}

.form-group {
    margin-bottom: 2em;
}

/*---------------------------- */

/* MODAL */

.modal-content {
    border-radius: 40px;
    background-color: #004F57;
    padding: 2%;
}

.modal-header {
    color: #FFFFFF;
    border-bottom: 0px !important;
    text-align: center;
}

.modal-body {
    color: #F8D097;
}

.modal-footer {
    color: #F8D097;
    border-top: 0px !important;
    text-align: center;
}

/* ----------------- */


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

td form{display:inline}
table th.w-55 { width:55%; }