/* Sticky footer styles
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    position: relative;
    min-height: 100%;
    
}
body {
    /* Margin bottom by footer height */
    font-family: 'Karla', sans-serif;
    margin-bottom: 60px;
    overflow-x: hidden;  
}

h6 {
    color: #F7E5D7;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #F1A02D;
}

.fila-tabla {
    background-color: #F4E2D4;
    border-bottom: 2px solid #F3A114;
    border-radius: 50px;
}

.fila-tabla:hover {
    background-color: #e7c892;
    border-bottom: 2px solid #F4E2D4;
}

.thead {
    color: #ffffff;
    background-color: #EA710A !important;
}

.logo-blanco {
    width: 10%;
    margin-right: 20%;
}

.tapa {
    position: absolute;
    z-index: 3;
    right: -60px;
    top: -15%;
    height: 70%;
}

.card-body {
    background-color: #EA710A;
    border-radius: 50px;
    width: 400px;
    height: 300px;
}

.card-body-dialog {
    background-color: #004F57;
    border-radius: 30px;
    width: 330px;
    height: 200px;
}

.card-body-pedido {
    background-color: #F7E5D7;
    border-radius: 30px;
    width: 330px;
    height: 300px;
}

.btn-primary {
    margin-right: 12px;
}

.bandeja { 
    position: absolute;
    transform: translate(165%, 0);
}

.cuadrado {
    margin-top: 15%;
    width: 500px;
}

.logo {
    margin-left: 10%;
}

.form-group-titulo {
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 20px;
    width: 300px;
}

.form-group-titulo-mesa {
    color: #FFFFFF;
    font-size: 20px;
    background-color: #004F57 !important;
    margin-left: 20px;
    width: 300px;
}

.btn-primary {
    background-color: #F8D097;
    color: #004F57;
    border: solid 0px !important;
}

#addProducto {
    background-color: #004F57;
    color: #FFFFFF;
    border-color: none !important;
}

#addProducto:hover {
    background-color: #006B67;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #F8D097;
    color: #004F57;
    border-color: none;
}

.modal-content {
    border-radius: 40px;
    background-color: #004F57;
    margin: 2%;
}

.modal-header {
    color: #FFFFFF;
    border-bottom: 0px !important;
    text-align: center;
}

.modal-body {
    color: #F8D097;
}

.modal-footer {
    color: #F8D097;
    border-top: 0px !important;
    text-align: center;
}

.close {
    background-color: #004F57;
    margin-right: 0px;
}

.btn-primary-mesa {
    margin-bottom: 0;
    background-color: #004F57;
    color: #FFFFFF;
}

/* .btn-primary-logout {
    background-color: #F8D097;
    color: #FFFFFF;
} */
#btn-aceptar-cerrarSesion-categorias, #btn-aceptar-cerrarSesion-listPrecios{
background-color: #F8D097;
color: #006B67;
}

#btn-aceptar-cerrarSesion-categorias:hover, #btn-aceptar-cerrarSesion-listPrecios:hover{
    background-color: #F3C47F;
    
    }

#btn-cancelar-cerrarSesion-categorias,#btn-cancelar-cerrarSesion-listPrecios{
    background-color: #FFF8F2;
    color: #006B67;
    }

#btn-cancelar-cerrarSesion-categorias:hover,#btn-cancelar-cerrarSesion-listPrecios:hover {
        background-color: #EAE7E4;
}

.label {
    background-color: #971515;
    margin-left: 0px;
    margin-right: 0px;
}

.card {
    border-radius: 50px;
}

.text-muted {
    color: #000000 !important;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

td form{display:inline}
table th.w-55 { width:55%; }